@model ProjectN.ViewModel.AdminViewModel

@{
    ViewBag.Title = "ShowAdmins";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowAdmins</h2>
<!DOCTYPE html>
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enter</title>

</head>
<body><div>
    <table id="JsonTable">
        <tr>
            <td>CatalogNumber   </td>
            <td>Name    </td>
            <td>Price   </td>
            <td>Quantity    </td>

        </tr>

    </table>
    <script language="javascript">
        function BindData(Customers) {
            var table = $("#JsonTable");
            for (k = 0; k < Products.length; k++) {
                var nerRow = "<tr>" +
                    "<td>" + Customers[k].ID + "</td>" +
                    "<td>" + Customers[k].FirstName + "</td>" +
                    "<td>" + Customers[k].LastName + "</td>" +
                    "</tr>";
                table.append(nerRow);



            }
        }
        $.get("GetAdminByJson", null, BindData());



    </script>
</div>

    @using (Html.BeginForm("ShowAdmins", "Admin", FormMethod.Post))
    {
        <table>

            <tr>
                <td>Catalog Number:</td>
                <td>@Html.TextBoxFor(m => m.product.CatalogNumber)  @Html.ValidationMessageFor(x => x.product.CatalogNumber)</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>@Html.TextBoxFor(m => m.product.Name)  @Html.ValidationMessageFor(x => x.product.Name)</td>
            </tr>
            <tr>
                <td>Price:</td>
                <td>@Html.TextBoxFor(m => m.product.Price)  @Html.ValidationMessageFor(x => x.product.Price)</td>
            </tr>
            <tr>
                <td>Quantity:</td>
                <td>@Html.TextBoxFor(m => m.product.Quantity)  @Html.ValidationMessageFor(x => x.product.Quantity)</td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>@Html.TextBoxFor(m => m.product.Category)  @Html.ValidationMessageFor(x => x.product.Category)</td>
            </tr>
            <tr>
                <td>Image:</td>
                <td>@Html.TextBoxFor(m => m.product.Image)  @Html.ValidationMessageFor(x => x.product.Image)</td>
            </tr>

        </table>

        <input name="Submit" id="Submit" type="submit" value="submit" />


    }



</body>
</html>